*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 500px;
  width: 500px;

  display: flex;
  align-items: flex-end;

  padding: 0 10px;
}

.limiter-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
  gap: 5%;

  width: 100%;
  height: 50%;
}

.bar {
  border-radius: 5px;
  width: 10%;

  color: whitee;

  display: flex;
  padding-top: 15px;
  align-items: flex-start;
  justify-content: center;
  font-weight: bolder;

  cursor: pointer;
}

.whiteColor {
  color: white !important;
}