*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90vw;
    border: 2px solid black;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
}

.bar-container {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bar-value {
    height: 20%;
    background-color: black;
    color: white;
}

.bar{
    height: 80%;
    width: 80%;
    background-color: rebeccapurple;
}

.bar-day {
    height: 10%;
}